
/* Fonts */

@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Light.ttf);
  font-weight: 400;
}

@font-face {
  font-family: ptmono;
  src: url(..//fonts/ptmono/PTM55FT.ttf);
  font-weight: bold;
  font-style: italic;
}

/* Elements */

html {
	font-size: 18px;
	width: 1280px;
	height: 1080px;
}

body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding-top: 124px;
	padding-bottom: 50px;
	font-family: roboto;
	font-weight: 600;
	user-select: none;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
}

/* Buttons */

.big-button {
	height: 115px;
	border-radius: 6px;
	border-radius: 6px;
	color: #004b53;
	font-size: 32px;
	text-align: center;
	background: white;
	-webkit-box-shadow: 0 3px 0px 0px #004b53;
	        box-shadow: 0 3px 0px 0px #004b53;
	transition: background 0.1s ease-out;
}

.big-button:active {
	background: #b4f5f0;
	-webkit-box-shadow: 0 0px 0px 0px #004b53;
	        box-shadow: 0 0px 0px 0px #004b53;
}

/* Header */

.header {
	position: fixed;
	z-index: 10;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow: hidden;
	top: 0;
	width: 1280px;
	height: 40px;
	color: white;
	padding: 10px;
	font-size: 1rem;
	font-weight: normal;
	background: #004B53;
}

.header__name {
	float: left;
}

.header__address {
	float: left;
	margin-left: 26px;
}

.header__time {
	float: right;
}

/* Page-control */

.page-control {
	position: fixed;
	z-index: 10;
	top: 40px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 1280px;
	height: 84px;
	padding: 15px 30px;
	line-height: 54px;
	background: #007f89;
}

.page-control__back {
	display: block;
	float: left;
	position: relative;
	height: 44px;
	margin-left: 22px;
	margin-right: 35px;
	padding: 0 22px;
	border: 3px solid #fbe93c;
	border-left: none;
	border-radius: 6px;
	color: #fbe93c;
	font-size: 1.33rem;
	line-height: 44px;
	text-decoration: none;
}

.page-control__back:active {
	background: #24afa4;
}

.page-control__back:active:before {
	background: #24afa4;
}

.page-control__back:before {
	content: '';
	width: 33px; 
	height: 33px;
	position: absolute;
	-webkit-transform: translate(-37px, 4px) rotate(45deg);
	    -ms-transform: translate(-37px, 4px) rotate(45deg);
	        transform: translate(-37px, 4px) rotate(45deg);
	border-bottom: 3px solid #fbe93c;
	border-left: 3px solid #fbe93c;
	border-radius: 6px;
}

.page-control__doctor {
	float: left;
	color: white;
	font-size: 2rem;
}

.page-control__patient {
	float: right;
}

.page-control__patient-ico {
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 20px;
}

.page-control__patient-name {
	float: left;
	width: 200px;
	color: white;
	font-size: 1.1rem;
	line-height: 1.1rem;
}

.page-control__exit {
	display: block;
	float: right;
	position: relative;
	height: 44px;
	margin-left: 35px;
	padding: 0 22px;
	border: 3px solid #fbe93c;
	border-radius: 6px;
	color: #fbe93c;
	font-size: 1.33rem;
	line-height: 44px;
	text-decoration: none;
}

.page-control__exit:active {
	background: #24afa4;
}

/* Scroll-control */

.scroll-control {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center; /* pos buttons */
	background: #004b53;
}

.scroll-control__button {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 50px;
	text-align: center; 
	line-height: 60px;
	background: #00bfa5;
	transition: background 0.1s ease-out;
}

.scroll-control__button:active {
	background: #17eccf;
}

.scroll-control__button-svg-1,
.scroll-control__button-svg-2 {
	display: inline-block;
	width: 25px;
}

.scroll-control__button-svg-2 {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.scroll-control__over {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}