
body {
	background: #1a8a83;
}

/* Doctors */

.doctors {
}

.doctors h2 {
	height: 100px;
	line-height: 100px;
	color: #fbe93c;
	font-size: 2rem;
	text-align: center;
}

.doctors__buttons {
	position: relative;
	width: 1170px;
	margin: auto;
}

.doctors__button {
	float: left;
	width: 370px;
	height: 115px;
	margin: 10px;
	line-height: 115px;
}

.doctors__button-more {
	position: relative;
	float: left;
	width: 270px;
	height: 108px;
	margin: 10px;
	padding-left: 40px;
	border: 3px solid #fbe93c;
	border-right: none;
	border-radius: 6px;
	color: #fbe93c;
	font-size: 2.22rem;
	line-height: 108px;
	text-align: center;
}

.doctors__button-more:active {
	background: #b4f5f0;
	-webkit-box-shadow: 0 0px 0px 0px #004b53;
	        box-shadow: 0 0px 0px 0px #004b53;
}

.doctors__button-more:active:after {
	background: #b4f5f0;
	-webkit-box-shadow: 0 0px 0px 0px #004b53;
	        box-shadow: 0 0px 0px 0px #004b53;
}

.doctors__button-more:after {
	content: ' ';
	position: absolute;
	right: 0;
	top: 0;
	width: 80px;
	height: 80px;
	transform: translate(38px, 12px) rotate(45deg);
	border-top: 3px solid #fbe93c;
	border-right: 3px solid #fbe93c;
	border-radius: 6px;
}
