body {
	padding-top: 40px;
}

/* Instructions */

.registration__instructions {
	overflow: hidden;
	padding: 20px;
	background: #00808a;
}

.registration__instruction {
	padding: 30px 20px 20px 20px;
	color: white;
	font-weight: normal;
	text-align: center;
}

.registration__instruction-text {
	color: white;
	padding-bottom: 10px;
}

.registration__instruction-pic {
	position: relative;
	left: 23%;
	width: 54%;
}

.registration__instruction-pic-svg {
	width: 100%;
}

.registration__instruction-or {
	position: relative;
	color: white;
	text-align: center;
}

.registration__instruction-or:before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0.3rem;
	width: 44%;
	height: 1px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.registration__instruction-or:after {
	content: ' ';
	position: absolute;
	right: 0;
	top: 0.23rem;
	width: 44%;
	height: 1px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.registration__instruction-1 {
	
}

.registration__instruction-2 {
	
}

.registration__instruction-button {
	display: block;
	height: 60px;
	margin: 40px 10px 0 10px;
	border: 2px solid #FFEB3B;
	border-radius: 6px;
	color: #FFEB3B;
	font-size: 1.33rem;
	font-weight: medium;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	transition: background 0.1s ease-out;
}

.registration__instruction-button:active {
	background: #24afa4;
}


/* Reg Buttons */

.registration__buttons-container {
	background: #1a8980;
	padding: 190px 60px;
}

.registration__buttons {
	position: relative;
}

.registration__button {
	box-sizing: border-box;
	background: white;
	height: 300px;
	margin-bottom: 20px;
	padding: 90px 40px;
}

.registration__button-title {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 25px;
	color: #009688;
}

.registration__button-desc {
	font-size: 1.33rem;
	font-weight: 400;
	text-align: center;
	color: #4D4D4D;
}

.registration__button-reg {
}

.registration__bot-buttons {
	overflow: hidden;
}

.registration__buttons-left {
	box-sizing: border-box;
	float: left;
	overflow: hidden;
	width: 50%;
	padding-right: 10px;
}

.registration__buttons-right {
	box-sizing: border-box;
	float: left;
	overflow: hidden;
	width: 50%;
	padding-left: 10px;
}

.registration__button-rc {
}

.registration__button-norc {
}

/* Grids */

.registration-row {
	overflow: hidden;
	width: 100%;
	background: #00808a;
}

.registration-row .col-left {
	float: left;
	width: 400px;
}

.registration-row .col-right {
	box-sizing: border-box;
	float: left;
	width: 100%;
	margin-right: -400px;
	padding-right: 400px;
}